<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Notificacion</title>
<style>
table {
	border-collapse: collapse;
}

.texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
}

A {
	FONT-WEIGHT: bold;
	COLOR: #a6a6a6;
	TEXT-DECORATION: none
}

A:hover {
	FONT-WEIGHT: bold;
	COLOR: #808080;
	TEXT-DECORATION: underline
}

A:visited {
	FONT-WEIGHT: bold;
	COLOR: #808080;
	TEXT-DECORATION: none
}

A:active {
	FONT-WEIGHT: bold;
	COLOR: #a6a6a6;
	TEXT-DECORATION: none
}

BODY {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0px;
}
</style>
</head>
<body>
<table width="200" border="0" cellpadding="0" cellspacing="0" bordercolor="#003466" align="center">
	<tr>
		<td height="240" valign="top">
		<table width="100%" border="0" cellspacing="0" cellpadding="5">
			<tr>
				<td height="236" valign="top">
				<div align="center">Esta es una prueba para ev&#237;o de mail a ${prueba.nombre}</div>
				<br>
				</td>
			</tr>
			<tr>
				<td></td>
			</tr>
		</table>
		</td>
	</tr>
</table>
</body>
</html>